In [1]:
#import packages
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import qgrid
from urllib.request import urlretrieve

In [2]:
#declare url
url = "https://www.sec.gov/Archives/edgar/data/812011/0000927356-96-001229.txt"

In [3]:
#save file locally
urlretrieve(url, "MTN_10K")

('MTN_10K', <http.client.HTTPMessage at 0x1115b8518>)

In [4]:
#open and read
TenK = open("MTN_10K", mode="r").readlines()

In [5]:
#locate start and end points of financial statements within TenK
a = "(IN THOUSANDS"
b = "The accompanying notes to consolidated financial statements"

start_points = []
end_points = []

for count, line in enumerate(TenK):
    if a in line:
        (start_points.append(count))
    if b in line:
        (end_points.append(count))

print(start_points)
print(end_points)

[1449, 1517, 1593, 1656, 2212]
[1508, 1584, 1647, 1740]

In [6]:
#zip start_points and end_points into a dictionary, all_points
all_points = (dict(zip(start_points, end_points)))
print(all_points)

{1449: 1508, 1517: 1584, 1593: 1647, 1656: 1740}

In [7]:
#slice MTN_10K by all_points and store resulting sub lists in a list, stmt_list

stmt_list = []

for key, value in all_points.items():
    x = key
    y = value
    stmt_list.append(TenK[x:y])

In [8]:
#join list of strings, stmt_list, into one long string
stmt1 = "".join(stmt_list[0])
stmt2 = "".join(stmt_list[1])
stmt3 = "".join(stmt_list[2])

statements = [stmt1, stmt2, stmt3]

In [9]:
#define delimeter locations for stmt1
column_locator1 = len(str(re.search(r"[a-zA-Z0-9]", stmt1).expand))
column_locator2 = len(str(re.search(r"\.", stmt1)))
pattern1 = "(." + "{" + "{}".format(column_locator1) + "}"+ ")"
pattern2 = "(." + "{" + "{}".format(column_locator2) + "}"+ ")"

In [23]:
#define delimeter locations for stmt2
column_locator3 = len(str(re.search(r"\.\.", stmt2)))
column_locator4 = len(str(re.search(r"\.\.\s+\d+,\d+\s", stmt2)))

pattern3 = "(." + "{" + "{}".format(column_locator3) + "}"+ ")"
pattern4 = "(." + "{" + "{}".format(column_locator4) + "}"+ ")"
print(pattern3)
print(pattern4)

#PATTERNS 3 & 4 NEED TO BE CORRECTED

(.{51})
(.{67})

In [24]:
#add the delimters to each statement
stmt1 = re.sub(pattern1, r"\1|", stmt1)
stmt1 = re.sub(pattern2, r"\1|", stmt1)

stmt2 = re.sub(pattern3, r"\1|", stmt2)
stmt2 = re.sub(pattern4, r"\1|", stmt2)
print(stmt2)

               (IN THOUSANDS, EXCEPT SHARE AND PER |S|HARE AMOUNTS)|

<TABLE>
<CAPTION>
                                          YEAR     | |    YEAR     | |    YEAR
                                          ENDED    | |    ENDED    | |    ENDED
                                      SEPTEMBER 30,| |SEPTEMBER 30,| |SEPTEMBER 30,
                                          1994     | |    1995     | |    1996
                                      -------------| |-------------| |-------------
<S>                                   <C>          | |<C>          | |<C>
Net revenues:
 Resort.............................   $   124,982 | | $   126,349 | | $   140,288
 Real estate........................        22,203 | |      16,526 | |      48,655
                                       ----------- | | ----------- | | -----------
 Total net revenues.................       147,185 | |     142,875 | |     188,943
Operating expenses:
 Resort.............................        78,365 | |      82,305 | |      89,890
 Real estate........................        20,341 | |      14,983 | |      40,801
 Corporate expense..................         7,160 | |       6,701 | |      12,698
 Depreciation and amortization......        17,186 | |      17,968 | |      18,148
                                       ----------- | | ----------- | | -----------
 Total operating expenses...........       123,052 | |     121,957 | |     161,537
                                       ----------- | | ----------- | | -----------
Operating income from continuing op-
 erations...........................        24,133 | |      20,918 | |      27,406
Other income (expense):
 Investment income..................         1,523 | |       3,295 | |         586
 Interest expense ..................       (22,468)| |     (19,498)| |     (14,904)
 Gain (loss) on disposal of fixed
  assets............................           128 | |        (849)| |      (2,630)
 Other (Notes 9 and 10).............          (598)| |       3,291 | |      (1,500)
                                       ----------- | | ----------- | | -----------
Income from continuing operations
 before income taxes................         2,718 | |       7,157 | |       8,958
Provision for income taxes (Note
 8).................................        (1,957)| |      (3,875)| |      (4,223)
                                       ----------- | | ----------- | | -----------
Income from continuing operations...           761 | |       3,282 | |       4,735
Income from discontinued operations,
 net of applicable income tax provi-
 sion of $4,206 for the year ended
 September 30, 1994 (Notes 3 and
 9).................................         7,058 | |         --  | |         --
Gain on disposal of subsidiaries op-
 erating in discontinued segments,
 net of applicable income tax provi-
 sion of $13,357 for the year ended
 September 30, 1994 (Notes 3 and
 9).................................        20,963 | |         --  | |         --
                                       ----------- | | ----------- | | -----------
Net income..........................   $    28,782 | | $     3,282 | | $     4,735
                                       =========== | | =========== | | ===========
Earnings per common share (Note 2):
 Income from continuing operations..   $       .08 | | $       .32 | | $       .44
 Income from discontinued opera-
  tions.............................           .69 | |         --  | |         --
 Gain on disposal of subsidiaries
  operating in discontinued seg-
  ments.............................          2.05 | |         --  | |         --
                                       ----------- | | ----------- | | -----------
 Net income.........................   $      2.82 | | $       .32 | | $       .44
                                       =========== | | =========== | | ===========
 Weighted average shares outstand-
  ing...............................    10,216,578 | |  10,291,388 | |  10,727,676
                                       =========== | | =========== | | ===========
</TABLE>

In [13]:
#write the contents of each statement its own file
with open("TenK_stmt1", mode="w+") as TenK_stmt1:
    TenK_stmt1.write(stmt1)
    TenK_stmt1.close()
    

with open("TenK_stmt2", mode="w+") as TenK_stmt2:
    TenK_stmt2.write(stmt2)
    TenK_stmt2.close()

In [14]:
#read file into a pandas dataframe
df1 = pd.read_csv("TenK_stmt1", sep="|", header=None)
df1 = df1.replace("\.|\-|=|<|>|,|\(\D\D\D\D.+|\d\)", "", regex = True).replace("TABLE", "").replace("CAPTION", "").replace("/TABLE","")

In [20]:
df2 = pd.read_csv("TenK_stmt2", sep="|", header=None, names = ["a", "b", "c", "d"])
df2 = df2.replace("\.|\-|=|<|>|,|\(\D\D\D\D.+|\d\)", "", regex = True).replace("TABLE", "").replace("CAPTION", "").replace("/TABLE","")

In [21]:
df2

,a,b,c,d
0,,HARE AMOUNTS),NaN,NaN
1,,NaN,NaN,NaN
2,,NaN,NaN,NaN
3,YEAR...,YEAR,YEAR,NaN
4,ENDE...,ENDED,ENDED,NaN
5,SEPTEMBE...,SEPTEMBER 30,SEPTEMBER 30,NaN
6,1994...,1995,1996,NaN
7,,,,NaN
8,S C,C,C,NaN
9,Net revenues:,NaN,NaN,NaN
10,Resort $ 124982,$ 126349,$ 140288,NaN
11,Real estate 22203,16526,48655,NaN
12,,,,NaN
13,Total net revenues 147185,142875,188943,NaN
14,Operating expenses:,NaN,NaN,NaN
15,Resort 78365,82305,89890,NaN
16,Real estate 20341,14983,40801,NaN
17,Corporate expense 7160,6701,12698,NaN
18,Depreciation and amortization 17186,17968,18148,NaN
19,,,,NaN
20,Total operating expenses 123052,121957,161537,NaN
21,,,,NaN
22,Operating income from continuing op,NaN,NaN,NaN
23,erations 24133,20918,27406,NaN
24,Other income,NaN,NaN,NaN
25,Investment income 1523,3295,586,NaN
26,Interest expense (2246,(1949,(1490,NaN
27,Gain,NaN,NaN,NaN
28,assets 128,(84,(263,NaN
29,Other,3291,(150,NaN
...,...,...,...,...
35,,,,NaN
36,Income from continuing operations 761,3282,4735,NaN
37,Income from discontinued operations,NaN,NaN,NaN
38,net of applicable income tax provi,NaN,NaN,NaN
39,sion of $4206 for the year ended,NaN,NaN,NaN
40,September 30 1994,NaN,NaN,NaN
41,7058,,,NaN
42,Gain on disposal of subsidiaries op,NaN,NaN,NaN
43,erating in discontinued segments,NaN,NaN,NaN
44,net of applicable income tax provi,NaN,NaN,NaN
45,sion of $13357 for the year ended,NaN,NaN,NaN
46,September 30 1994,NaN,NaN,NaN
47,20963,,,NaN
48,,,,NaN
49,Net income $ 28782,$ 3282,$ 4735,NaN
50,,,,NaN
51,Earnings per common share,NaN,NaN,NaN
52,Income from continuing operations $ 08,$ 32,$ 44,NaN
53,Income from discontinued opera,NaN,NaN,NaN
54,tions 69,,,NaN
55,Gain on disposal of subsidiaries,NaN,NaN,NaN
56,operating in discontinued seg,NaN,NaN,NaN
57,ments 205,,,NaN
58,,,,NaN
59,Net income $ 282,$ 32,$ 44,NaN
60,,,,NaN
61,Weighted average shares outstand,NaN,NaN,NaN
62,ing 10216578,10291388,10727676,NaN
63,,,,NaN
64,,NaN,NaN,NaN